# Ignore Gradle project-specific cache directory
.gradle
gradle
.idea
gcloud-credentials.json

# Ignore Gradle build output directory
build

spanner/bin
common/bin
spanner/.settings
common/.settings

.settings
