# Ignore Gradle project-specific cache directory
.gradle
gradle
.idea
gcloud-credentials.json

# Ignore Gradle build output directory
build

common/.settings/*
common/bin/*

spanner/.settings/*
spanner/bin/*

gcloud-account-key.json
